.banner-img-2{
    background-image: url("../images/banner2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
}

.banner-img-3{
    background-image: url("../images/banner3.jpg");
    height: 50vh;
}
